{% extends 'base.html' %}
{% block body %}
<div id="cover-image" class="bg">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card offset-sm-0 offset-md-0 offset-lg-0">
          <h1 class="cover-heading">Chess Club</h1>

          <p>
            <a href='{% url 'sign_up' %}' class="btn btn-lg btn-secondary">
              Sign up
            </a>
          </p>
          <p>
          </p>
        </div>
        <div class="card cover-card offset-sm-3 offset-md-5 offset-lg-8" >
          <p class="">Welcome to our Chess club management system! Here we provide the arrangement for
          competitive chess matches and tournaments. Our system consists of clubs which you can join for free. <br><br>

          Are you a professional chess player? If so, bring it on! Or are you someone who is new to chess, trying
          to get involed in the sport? Then don't fear, we accept all new players regardless of your chess skill level! <br><br>

          <b>Opening times</b>
          <br>
          Monday: 8am - 6pm<br>
          Tuesday: 8am - 6pm<br>
          Wednesday: 8am - 6pm<br>
          Thursday: 8am - 7pm<br>
          Friday: 8am - 6pm<br>
          Saturday: 8am - 6pm<br>
          Sunday: Closed<br>

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
