{% extends 'base_content.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Matches</h1>
      <table class="table">
      <tr>
       <td>Player 1</td>
       <td>Player 2</td>
       <td>Date</td>
       <td>
        <div class="dropdown">
          <a class="nav-link" href="#" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <button href="#" class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Round/Group
            </button>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for round in rounds %}
            <li>
              <a class="dropdown-item" href="#">
                Round/Group{{round.id}}
                {% if round.has_winners_been_decided %}
                <span class="badge badge-pill badge-primary"></span>
                {%endif%}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        </td>
      </tr>
      {% for round in rounds %}
        {% for match in round.matches.all %}
          <tr>
            <td>{{match.player1.first_name}}</td>
            <td>{{match.player2.first_name}}</td>
            <td>{{match.date}}</td>
            {% if request.user == tournament.organising_officer  %}
                <td>
                  <div class="dropdown">
                    <a class="nav-link" href="#" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <button href="#" class="btn btn-primary btn-bg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Result
                      </button>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><a class="dropdown-item" href="#" role="button" id="score_of_player_1">Score for Player 1</a></li>
                      <li><a class="dropdown-item" href="#" role="button" id="score_of_player_1">Score for Player 2</a></li>
                    </ul>
                  </div>
                </td>
              {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
