{% extends 'base_content.html' %}
{% block content %}
{% load officer %}
<style>
#new_tournament {
    background-color: #008000 !important;
    border-color: #008000 !important;
}
</style>
<style>
#withdraw {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
}
</style>


<div class="container">
  <div class="row">
    <div class="col">
      <h1>Tournaments</h1>
      <table class="table">
        <tr>
          <td><b>Name</b></td>
          <td><b>Description</b><td>
          <td><b>Deadline To Apply</b></td>
          {% if type == 'officer' %}
            <td><a class="btn btn-primary btn-sm text-nowrap" href="{% url 'create_tournament' %}" role="button" id="new_tournament">Create a new Tournament</a></td>
          {% endif %}
        </tr>
        {% for tournament in tournaments %}
        <tr>
          <td>{{tournament.name}}</td>
          <td>{{tournament.description}}</td>
          <td></td>
          <td>{{tournament.deadline_to_apply}}</td>
            {% if request.user == tournament.organising_officer  %}
              <td><a class="btn btn-primary btn-sm text-nowrap" href="{% url 'officer_list' tournament.id %}" role="button" id="officer_list">Assign co-organisers</a></td>
            {% else %}
              {% if request.user|officer:tournament.id %}
                <td><a class="btn btn-primary btn-sm text-nowrap" href="{% url 'withdraw_from_tournament' tournament.id %}" role="button" id="withdraw">Withdraw</a></td>
              {% else%}
                <td><a class="btn btn-primary btn-sm text-nowrap" href="{% url 'participate_in_tournament' tournament.id %}" role="button" id="join_tournament">Join tournament</a></td>
              {% endif %}
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
