{% extends 'base_content.html' %}
{% block content %}
{% load officer %}
<style>
#new_tournament {
    background-color: #008000 !important;
    border-color: #008000 !important;
}
</style>
<style>
#withdraw {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
}
</style>


<div class="container">
  <div class="row">
    <div class="col">
      <h1>Tournaments</h1>
      <table class="table">
        <tr>
          <td><b>Name</b></td>
          <td><b>Description</b><td>
          <td><b>Deadline To Apply</b></td>
          <td><b>Current Players</b></td>
          <td><b>All Players</b></td>
          {% if type == 'officer' %}
            <td><a class="btn btn-primary btn-sm text-nowrap" href="{% url 'create_tournament' %}" role="button" id="new_tournament">Create a new Tournament</a></td>
          {% endif %}
        </tr>
        {% for tournament in tournaments %}
        <tr>
          <td>{{tournament.name}}</td>
          <td>{{tournament.description}}</td>
          <td></td>
          <td>{{tournament.deadline_to_apply}}</td>
          <td>{{tournament.participating_players.all.count}}</td>
          <td>{{tournament.get_count_of_all_players_in_tournament}}</td>
            {% if request.user == tournament.organising_officer  %}
            <td>
              <div class="dropdown">
                <a class="nav-link" href="#" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <button href="#" class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Manage Tournament
                  </button>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="{% url 'officer_list' tournament.id %}" role="button" id="officer_list">Assign co-organisers</a></li>
                  <li><a class="dropdown-item" href="{% url 'generate_matches' tournament.id %}" role="button" id="officer_list">Generate Matches</a></li>
                  <li><a class="dropdown-item" href="{% url 'match_list' tournament.id %}" role="button" id="officer_list">View Current Matches</a></li>
                  <li><a class="dropdown-item" href="{% url 'all_match_list' tournament.id %}" role="button" id="officer_list">View All Matches</a></li>
                </ul>
              </div>
            </td>
            {% else %}
            <td>
              <div class="dropdown">
                <a class="nav-link" href="#" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <button href="#" class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    View or Join Tournament
                  </button>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="{% url 'match_list' tournament.id %}" role="button">View Current Matches</a></li>
                  <li><a class="dropdown-item" href="{% url 'all_match_list' tournament.id %}" role="button" id="officer_list">View All Matches</a></li>
                  {% if request.user|officer:tournament.id %}
                    <li><a class="dropdown-item" href="{% url 'withdraw_from_tournament' tournament.id %}" role="button">Withdraw</a></li>
                  {% else%}
                    <li><a class="dropdown-item" href="{% url 'participate_in_tournament' tournament.id %}" role="button">Join tournament</a></li>
                  {% endif %}
                </ul>
              </div>
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
