{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Users</h1>
      <table class="table">
        <tr>
          {% if type == 'member' %}
            <td><b>Gravatar</b></td>
            <td><b>Full Name</b></td>
            <td><b>Bio</b></td>
          {% else %}
            <td><b>Gravatar</b></td>
            <td><b>Email</b></td>
            <td><b>Full Name</b></td>
            <td><b>Bio</b></td>
            <td><b>Personal Statement</b></td>
            <td><b>Experience level</b></td>
            <td><b>Date joined</b></td>
            <td><b>Membership type</b></td>
          {% endif %}
        </tr>
        {% for user, user_type in users.items %}
          <tr>
            {% if type == 'member' %}
              <td>
                <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle" >
              </td>
              <td>{{ user.full_name }}</td>
              <td><p>{{ user.public_bio }}</p></td>
            {% elif type == 'officer' %}
              <td>
                <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle" >
              </td>
              <td>{{ user.email }}</td>
              <td>{{ user.full_name }}</td>
              <td><p>{{ user.public_bio }}</p></td>
              <td><p>{{ user.personal_statement }}</p></td>
              <td>{{ user.chess_experience_level }}</td>
              <td>{{ user.date_joined }}</td>
              <td>{{ user_type }}</td>
              {% if user_type == 'applicant' %}
                <td><a class="btn btn-primary btn-sm text-nowrap" href="{% url 'promote' user.id %}" role="button">promote to member</a></td>
              {% endif %}
            {% else %}
              <td>
                <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle" >
              </td>
              <td>{{ user.email }}</td>
              <td>{{ user.full_name }}</td>
              <td><p>{{ user.public_bio }}</p></td>
              <td><p>{{ user.personal_statement }}</p></td>
              <td>{{ user.chess_experience_level }}</td>
              <td>{{ user.date_joined }}</td>
              <td>{{ user_type }}</td>
              {% if user_type == 'applicant' %}
                <td><a class="btn btn-primary btn-sm text-nowrap" href="{% url 'promote' user.id %}" role="button">promote to member</a></td>
              {% elif user_type == 'member' %}
                <td><a class="btn btn-primary btn-sm text-nowrap" href="{% url 'promote' user.id %}" role="button">promote to officer</a></td>
              {% elif user_type == 'officer' %}
              <td>
                <div class="dropdown">
                  <a class="nav-link" href="#" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <button href="#" class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Demote or Transfer
                    </button>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="{% url 'demote' user.id %}">Demote to member</a></li>
                    <li><a class="dropdown-item" href="{% url 'transfer_ownership' user.id %}">Transfer club ownership</a></li>
                  </ul>
                </div>
              </td>
              {% endif %}
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
